.suggestion-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.search-suggestion {
  font-size: 16px;
  font-family: 'Roboto';
  color: #475569;
  margin: 0;
}
.arrow-btn {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.arrow-icon {
  width: 16px;
  height: 16px;
}

@media screen and (min-width:768px){
  .search-suggestion {
    font-size: 20px;
  }
  .arrow-icon {
    width: 24px;
    height: 24px;
  }

}
